[submodule "dependencies/random-forest"]
	path = dependencies/random-forest
	url = https://github.com/bjoern-andres/random-forest
[submodule "dependencies/stb"]
	path = dependencies/stb
	url = https://github.com/nothings/stb
